body {
    background-color: #f8f9fa;
}

.card {
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

#alerts-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
    max-width: 300px;
}

footer {
    background-color: #343a40;
}

#map-wrapper {
    width: 100%;
    max-width: 700px; /* Максимальная ширина карты */
}

#map-wrapper ymaps {
    max-width: 100%;
}

/* Исправление для того, чтобы конструктор не вылезал за границы на смартфонах */
#map-wrapper canvas, #map-wrapper ymaps {
    width: 100% !important;
}